body {background-color:rgb(241, 200, 207)}
#weather {background-color:rgba(139, 121, 155, 0.5);}
#weather h1 {color:rgb(76, 38, 248); background-color:rgb(165, 248, 220);}
#weather p {background-color:rgba(255,255,255,0.1);}
#weather .area {color:white;}
#weather .temperature {color:rgb(107, 33, 33);}
#weather .temperature+p {color:red;}
#weather .sub_title {color:rgb(34, 5, 114);}
#weather .humidity {color:white;}
#weather .dust {color:gray;}
.result {background-color: yellow;}
#news > a {color:yellow; background-color: aquamarine;}
#news .box {background-color:rgba(255,255,255,0.5);}
#news a .box h2 {background-color:blueviolet;}
#news a .box h2+p {color:chartreuse;}
#news > p {background-color: rgba(0,0,0,0.2); color:white;}
#news p span {color:#ff0000;}