#mobile_wrap {
    background-color:#CCDDFF;/* #mobile_wrap */
    width:440px; height:956px;/* #mobile_wrap */
    text-align:center;/* 자식, 자손 정렬 */
    font-family:'pretendard', sans-serif;/* 자식, 자손 글꼴 통일 */
}
#mobile_wrap .photo {
    margin-top:115px;
    margin-bottom:31px;
    display:inline-block;
}
#mobile_wrap .photo img {
    
}
#mobile_wrap h1 {
    color:#5A5959;
    font-size:2.375rem;
    font-weight:500;
    line-height:120%;
    letter-spacing:0;
    margin-bottom:56px;
}
#mobile_wrap h1 span {
    color:#000;
    font-weight:700;
}
#mobile_wrap h2 {
    color:#000;
    font-weight:700;
    font-size:1rem;
    line-height:200%;
    letter-spacing:-0.02em;
    width:205px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#mobile_wrap .git {
    color:#000;
    font-weight:600;
    font-size:1rem;
    line-height:200%;
    letter-spacing:-0.02em;
    width:205px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#mobile_wrap .skill {}
#mobile_wrap .skill li {
    color:#000;
    font-weight:400;
    font-size:1rem;
    line-height:150%;
    letter-spacing:-0.02em;
    width:205px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}