#mobile_wrap {background-color:#CCDDFF;}
#mobile_wrap .photo {}
#mobile_wrap .photo img {}
#mobile_wrap h1 {color:#5A5959;}
#mobile_wrap h1 span {color:black;}
#mobile_wrap h2 {}
#mobile_wrap .git {}
#mobile_wrap .skill {}
#mobile_wrap .skill li {}