#wrap {
    background-color:#0b8457;
    width:440px;
    height:956px;
    text-align:center;
}
#wrap h1 {
    padding:306px 0 0;
    margin:0 0 69px 0;
}
#wrap h1 img {}
#wrap .btn_wrap {
    width:300px;
    /* 블록의 너비값을 부모보다 작게 설정했을 때 블록을 가운데정렬하고 싶다면? */
    /* margin-left:auto;
    margin-right:auto; */
    margin:0 auto;
    text-align:left;/* btn_wrap의 인라인 자식, 자손을 왼쪽정렬 */
}
#wrap .btn_wrap a {
    display:block; /* 블록의 너비는 부모의 너비의 100%와 같다. */
    text-align:center;/* 글자보다 넓은 너비를 가진 a의 자식글자를 가운데정렬 */
}
#wrap .btn_wrap .login_btn {
    height:40px;
    line-height:40px;
    color:#10316b;
    background-color:#eac100;
    /* border:선두께 선모양 선색상; */
    border:1px solid #eac100;
    border-radius:20px;
    font-size:0.875rem
}
#wrap .btn_wrap .sign_up_btn {
    height:40px;
    line-height:40px;
    /* margin-top:16px;
    margin-bottom:16px; */
    margin:16px 0;
    color:#10316b;
    background-color:#dee1ec;
    border:1px solid #eac100;
    border-radius:20px;
    font-size:0.875rem
}
#wrap .btn_wrap .pw_search {
    color:#dee1ec;
    font-size:0.75rem;
    display:inline;
}