main {
    background-color:#111;
    height:100vh; width:460px;
    margin:0 auto;
}
main h1 {text-align:center;
padding:100px 0 0;
margin:0 0 50px;
}
main h1 a {}
main h1 a img {width:200px;}
main section {}
/* ================================탭 제목 */
main section .tab_title{
    /* background-color:orange; */
    overflow:hidden;
    margin-bottom:40px;
}
main section .tab_title a {
    width:50%;
    text-align:center;
    float:left;
    text-transform:uppercase;
}
main section .tab_title a span{/* 비활성화 a의 자식 span */
    display:inline-block;
    color:#fff;
    padding:7px 0;
}
main section .tab_title .active span{/* 활성화 a의 자식 span */
    border-bottom:2px solid #48f78b;
}
main section .tab_title .sign_in {}
main section .tab_title .sign_up {}
/* ================================탭 내용 */
main section .tab_container {
    /* background-color:brown; */
    padding:0 15px;/* 앱의 주요 콘텐츠가 폰 좌우끝에 붙지 않도록 최소 여백설정 */
}
/* ================================sign in 클릭 시 열리는 내용 */
main section .tab_container #login_frm {
}
main section .tab_container #login_frm .id_pw {
    margin:0 0 20px;
}
main section .tab_container #login_frm .id_pw input[name^=user] {
    width:100%; height:60px;
    padding:0 15px;
    background-color:#fff;
    border-radius:30px;
    margin:0 0 10px;
}
main section .tab_container #login_frm .id_pw input[name^=user]::placeholder {
    color:#ccc;
}
main section .tab_container #login_frm .login_stay {
    margin-bottom:30px;
}
main section .tab_container #login_frm .login_stay input[name$=stay] {
    display:none;
}
main section .tab_container #login_frm .login_stay label {}
/* ==============================================checkbox 상태에 따라 디자인 변경 css */
main section .tab_container #login_frm .login_stay input[name$=stay] + label {
    background-image:url(../images/unchecked.png);
    background-size:24px;
    background-repeat:no-repeat;
    padding-left:30px;
    color:#fff;
}
main section .tab_container #login_frm .login_stay input[name$=stay]:checked + label {
    background-image:url(../images/checked.png);
}
/* ==============================================(아래)버튼 */
main section .tab_container #login_frm .btn_search {
}
main section .tab_container #login_frm .btn_search #sign_in_btn {
    color:#fff;
    width:100%; height:60px;
    background-color:#48f78b;
    border-radius:30px;
    margin-bottom:15px;
    text-transform:uppercase;
}
main section .tab_container #login_frm .btn_search .pw_search {
    display:block;
    text-align:center;
    color:#fff;

}
/* ================================sign up 클릭 시 열리는 내용 */
main section .tab_container #join_frm {}